name: check-vulnerability

on:
  # schedule:
  #  - cron: '00 01 * * *' #JST 10:00
  workflow_dispatch:


jobs:
  check-vulnerability:
    name: check-vulnerability
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      actions: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: 'pip' # caching pip dependencies

      - name: pip install
        run: pip install --upgrade pip && pip install -r requirements.txt

      - name: Download Previous Vulnerability List
        uses: dawidd6/action-download-artifact@v2
        continue-on-error: true
        with:
          branch: main
          workflow: check-vulnerability.yaml
          path: ./

      - name: Find Vulnerability
        run: |
          ls ./vulnerability-list/vulnerability_list || \
          mkdir -p ./vulnerability-list && touch ./vulnerability-list/vulnerability_list && \
          python inspector_finding.py && \
          cp ./vulnerability-list/vulnerability_list ./vulnerability_list # actions/upload-artifact@v3は/にあるファイルを見るためそのためにコピー

      - name: Update Current Vulnerability List
        uses: actions/upload-artifact@v3
        with:
          name: vulnerability-list
          path: ./vulnerability_list
